#header-nav{
			background-color: #F7dc6f;
			border-radius: 0;
			border: 0;
		}
		.navbar-brand h1{
			font-family: 'Lora',serif;
			color:black;
			font-size: 2em;
			text-transform: uppercase;
			font-weight:bold;
			text-shadow: 1px 1px 1px #555;
			margin-bottom:0px;
			margin-top:0;
			line-height:.75;
		}
		.navbar-brand a:hover, .navbar-brand a:focus{
		text-decoration: none;
		}
		body{
			background-color: #F08080;
			font-size:16px;
			color:#000;
			font-family: 'Oxygen', sans-serif;
		}
		#nav-list{
			margin-top: 10px;
		}
		#nav-list a {
			color: #951C49;
			text-align: center;
		}
		#nav-list a:hover {
			background:#E7E7E7;
		}
		#nav-list a span{
			font-size:1.8em;
		}
		.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
			border:1px solid #61122f;
		}
		.navbar-header button.navbar-toggle{
			clear:both;
			margin-top:-30px;
		}
		#collapsable-nav a{
			font-size:1.2em;
		}
		#collapsable-nav a span{
			font-size:1em;
			margin-right: 5px;
		}
		section{
			height:1200px;
			background-color:#F7dc6f;
			padding:10px;
			bottom-margin:10px;
		}
		